/* styles.css */

body {
  /* You can use a URL to an image file or a relative path */
  
  /* Set how the background image should behave */
  background-size: cover; /* Cover the entire background */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  /* Optionally, you can set a background color in case the image doesn't cover the entire area */
  background-color: #0130bedc; /* Replace with your desired color */
}

#red {
    color: rgb(2, 16, 76);
    background-color: grey;
    font-style: unset  ;
    font-size: 60px;
    margin-top: 0px;
    border-radius: 20px;

}
#img{
    backface-visibility:visible;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    /* Example masking with an SVG image */
  }
#admission{
    color: white;
   margin-left: 0px;
   margin-top: 0px;
   font-size: 30px;
   font-weight:bold;
   text-shadow: 1px 3px black
  
   
}
#covid{
  color:white;
  font-size:larger;
  text-decoration:underline;
  display:inline; /* Set both elements to display inline */

      }
      .scrolling-bar {
        white-space: nowrap; /* Prevents text from wrapping */
        overflow: hidden; /* Hides overflow content */
        font-family: sans-serif;
        font-weight: 500;
        shape-margin: 10px;
     }

     .scrolling-bar span {
        display: inline-block; /* Display hyperlinks in a line */
       /* Adjust spacing between hyperlinks */
     }

     /* Style hyperlinks as needed */
     .scrolling-bar a {
        text-decoration:underline;
        padding-inline: 50px;
        color: white;
 
     }

     /* Hover effect for hyperlinks */
     .scrolling-bar a:hover {
        text-decoration: underline;
        color: red;
     }
    


/* styles.css */
.post-card {
  border: 5px ;
  padding:none;
  border-radius: 5px;
  overflow:hidden;
  margin: 20px;
  width: 300px;
  background-color: #fff; 
  margin-left: 1100px;
  margin-top: -300px;
  box-shadow: 5px 10px black;
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
}


.principal{
  align-items: center;
  height: 250px;
}


.post-header img {
  width: 100%; 
  height: auto; 
  ;
  
}

.post-content {
  padding: 20px;
}

.post-content h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.post-content p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.post-content a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 8px 0;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.post-content a:hover {
  background-color: red;
}

.container{
  width: 320px;
  height: 50px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;

  
}



